@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:991px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}


@media (width < 1201px) {}

@media (width < 992px) {
    header.container nav ul {
        gap: 0px;
    }

    section.landing .section-header {
        width: 50%;
    }

    .boost-item {
        flex-direction: column;
        gap: 40px;
    }

    .sign-up,
    .sign-up .main-btn {
        width: 95%;
    }
}

@media (width < 769px) {
    .section-header h1 {
        line-height: normal;
    }

    header.container nav ul {
        flex-direction: column;
        position: fixed;
        top: -17px;
        height: 100vh;
        width: 50vw;
        background-image: linear-gradient(160.21deg, #8061DB 14.88%, #2B34F0 96.45%);
        justify-content: start;
        padding-top: 50px;
        right: 0;
        transform: translateX(100%);
        transition: all 0.3s;
        gap: 20px;
        font-size: larger;
    }

    header.container nav ul li a {
        color: white;
    }

    header.container nav ul.open {
        transform: translateX(0%);
    }

    header.container i {
        display: block;
    }

    .nav-btn p {
        display: none;
    }

    section.landing .section-header {
        width: 80%;
    }

    .how-card {
        width: calc(50% - 7.5px);
    }

    .questions {
        width: 80%;
    }

    .footer-image .section-header {
        width: 90%;
    }

    .footer-image .section-header h1 {
        font-size: 1.5rem;
        letter-spacing: -1px;
    }

    footer ul {
        flex-wrap: wrap;
    }

    .signup-container .right-side {
        display: none;
    }

    .signup-container .left-side {
        width: 100%;
    }
}

@media (width < 500px) {
    header.container .nav-btn {
        display: none;
    }

    section.landing .section-header {
        width: 90%;
    }

    .section-header h1 {
        font-size: 2.5rem;
    }

    section.landing img.landing-image {
        transform: translate(-50%, 100px);
    }

    .how-cards.container {
        justify-content: center;
    }

    .how-card {
        width: 80%;
    }

    .how-text.section-header {
        padding-bottom: 0px !important;
    }

    .orb-card {
        width: 50%;
    }

    .boost-text {
        width: 250px;
    }

    footer .footer-end ul {
        flex-direction: column;
    }

    .sign-up .section-header h1 {
        font-size: 1.2rem;
        line-height: 1.2rem;
    }

    .sign-up .main-btn {
        font-size: 10px;
    }
}