@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:991px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}


@media (width < 1201px) {}

@media (width < 992px) {
    header.container nav ul {
        gap: 0px;
    }

    section.landing .section-header {
        width: 50%;
    }
}

@media (width < 769px) {
    header.container nav ul {
        flex-direction: column;
        position: fixed;
        top: -17px;
        height: 100vh;
        width: 50vw;
        background-color: #eee;
        border: 1px solid;
        justify-content: space-around;
        right: 0;
        transform: translateX(100%);
        transition: all 0.3s;
    }

    header.container nav ul.open {
        transform: translateX(0%);
    }

    header.container i {
        display: block;
    }

    .nav-btn p {
        display: none;
    }

    section.landing .section-header {
        width: 80%;
    }
}

@media (width < 500px) {
    header.container .nav-btn {
        display: none;
    }

    section.landing .section-header {
        width: 90%;
    }

    section.landing img.landing-image {
        transform: translate(-50%, 100px);
    }
}