.signup-container {
    display: flex;
    width: 100%;
    height: 100vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.left-side {
    width: 60%;
    background-color: #FFFFFF;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.left-side::-webkit-scrollbar {
    display: none;
}

.sign-up {
    border: 1px solid #00000014;
    padding: 60px 45px;
    border-radius: 23px;
    width: 65%;
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sign-up div span {
    background: linear-gradient(180deg, #F7F9FD 37.5%, #FFFFFF 100%);
    width: 13px;
    height: 40px;
    display: inline-block;
    rotate: 180deg;
    border-radius: 6px;
}

.sign-up .section-header h1 {
    font-size: 2.2rem;
    line-height: 2.2rem;
    letter-spacing: -2px;
}

.sign-up .section-header h1,
.sign-up .section-header p {
    margin-bottom: 10px;
}

.sign-up .main-btn {
    width: 75%;
    color: #1A1A1A;
    font-weight: 900;
    background: linear-gradient(151.54deg, rgba(97, 146, 219, 0.12) 14.21%, rgba(43, 52, 240, 0.12) 68.04%);
    border: 2px solid #2B34F0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 35px;
}

.left-side a {
    text-decoration: none;
    font-weight: bold;
}

.right-side {
    width: 40%;
    height: 100%;
    background-image: url(../images/sign-up-landing.png);
    background-position: center;
    background-size: cover;
    color: white;
    position: relative;
    overflow: hidden;
}

.landing {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.landing#landing2 {
    flex-direction: column-reverse;
}

.landing .section-header {
    text-align: left;
    width: 70%;
    margin: unset;
}

.landing .section-header h1 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: normal;
    margin-bottom: 15px;
}

.landing#landing1 .section-header,
.landing#landing2 .section-header,
.landing#landing3 .section-header {
    margin-top: 60px;
    margin-left: auto;
    margin-right: 60px;
}

.landing#landing3 .section-header {
    margin-right: 20px;
}

.landing#landing2 .section-header {
    margin-top: 30px;
    margin-bottom: 60px;
}

.landing div span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 14px;
    background: #FFFFFF9E;
}

.landing div span.active {
    width: 20px;
    background: #FFFFFF;
}

.landing img {
    width: 100%;
}

.landing.active {
    opacity: 1;
}