* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

img {
    object-fit: cover;
    border: 1px solid #2B34F0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #DEEFFF;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.main-btn {
    background: linear-gradient(151.54deg, #6192DB 14.21%, #2B34F0 68.04%);
    padding: 0px 12px;
    height: 40px;
    border-radius: 27px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
}

header.container {
    background-color: #FFFFFF;
    border: 1px solid #ECECED;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 20px;
    border-radius: 35px;
    font-weight: 600;
    color: #0E0200
}

span.logo,
header.container nav ul,
header.container nav,
header.container .nav-btn {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 7px;
}

span.logo {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: -1px;
}

header.container nav {
    flex: 1;
}

header.container nav ul {
    width: 100%;
    justify-content: center;
    gap: 50px;
}

header.container nav ul li {
    padding: 5px;
}

header.container nav ul li a {
    text-decoration: none;
    color: #0E0200;
}

header.container .nav-btn {
    gap: 15px;
}

.section-header {
    text-align: center;
    width: 100%;
    margin: auto;
}

section.landing .section-header {
    padding-top: 130px;
    width: 25%;
}

.section-header h1 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 900;
    line-height: 3rem;
    margin-bottom: 30px;
    letter-spacing: -4px;
}

.section-header p {
    margin-bottom: 30px;
}

.section-header .main-btn {
    font-size: 18px;
    height: 55px;
    width: 240px;
    border-radius: 35px;
}

.section-header h1 span {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(128.45deg, #6192DB 12.61%, #2B34F0 45.11%);
}

section.landing img.wave {
    width: 100%;
}

section.landing img.landing-image {
    position: absolute;
    width: 70%;
    left: 50%;
    transform: translate(-50%, 200px);
}

section.how {
    padding-top: 300px;
    background-color: #FFFFFF;
}

section.how .section-header {
    padding-bottom: 40px;
}

.how-cards {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.how-card {
    width: calc((100% /3) - 10px);
}

.how-card img.how {
    border-radius: 18px;
    border: 1px solid hsla(0, 0%, 0%, 0.05);
    width: 100%;
    margin-bottom: 20px;
}

.how-text.section-header {
    width: 100%;
}

.how-text.section-header h1 {
    font-size: 1.2rem;
    margin-bottom: 0px;
    letter-spacing: -1px;
}

.how-text.section-header p {
    color: #5F6368;
    font-size: 14px;
}

section.boost {
    background: linear-gradient(180deg, #DFE0FF 0%, #E2E3FF 0.01%, #ECF6FF 100%);
    padding: 120px 0;
}

.boost-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}

.boost-text {
    width: 379px;
}

.boost-text h3 {
    background-image: linear-gradient(160.21deg, #8061DB 14.88%, #2B34F0 96.45%);
    background-clip: text;
    color: transparent;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: -1px;
    word-spacing: -3px;
    font-weight: 900;
    margin-bottom: 20px;
}

.boost-text p {
    color: #5F6368;
}

.boost-item .orb {
    height: 615px;
    width: 615px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.orb-image {
    animation: infiniteRotate 60s linear infinite;
}

@keyframes infiniteRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.orb-card {
    box-shadow: 0px -8px 16px 0px #00000014;
    box-shadow: 0px 0px 4px 0px #0000000A;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 17px;
    background: #FFFFFF;
    padding: 30px 10px;
    width: 70%;
}

.orb-card .to,
.orb-card .user,
.orb-card .subject {
    border-radius: 5px;
    background: #f5f4f4;
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
}

.orb-card .user {
    padding: 0;
    margin-left: 35px;
    gap: 10px;
}

.orb-card .user img {
    border-radius: 50%;
}

.orb-card .user h4,
.orb-card .subject b {
    text-transform: uppercase;
}

.orb-card .subject b {
    margin-left: 15px;
}

.orb-card .user span {
    opacity: 0.5;
    font-size: 12px;
}

.orb-card p.parag {
    padding: 5px 20px;
    font-size: 14px;
    opacity: 0.8;
}

.orb-card .orb-foot {
    width: 100%;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.orb-card .warning {
    color: #FE6A3F;
}

.orb-card .send {
    height: auto;
    padding: 10px 15px;
    cursor: default;
}

.orb-card .bar {
    height: 12px;
    border-radius: 24px;
    display: block;
    background-color: rgba(233, 233, 233, 0.58);
    margin-bottom: 10px;
    margin-left: 10px;
}

.orb-card .bar:nth-child(1) {
    width: 80%;
}

.orb-card .bar:nth-child(2) {
    width: 50%;
}

.orb-card .priority {
    background: rgba(59, 80, 235, 0.06);
    border-radius: 15px;
    padding: 25px 10px;
}

.orb-card .priority-btn {
    display: block;
    width: 60%;
    font-size: smaller;
    height: auto;
    text-align: center;
    margin-top: 25px;
    margin-left: 20px;
    cursor: default;
    padding: 15px;
}

.orb-card span.logo {
    margin-bottom: 20px;
}

.orb-card .payment-methods {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.orb-card .payment-methods .method {
    padding: 10px;
    width: calc(30% - 7.5px);
    border-radius: 6px;
    border: 1px solid;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.orb-card .payment-methods .method:first-child {
    opacity: 1;
}

.orb-card .payment-methods .method:last-child {
    width: calc(10% - 7.5px);
    align-items: center;
}

.orb-card.last {
    padding: 30px 25px;
}

.orb-card.last p {
    color: #1A1A1A;
    opacity: 0.7;
    font-size: 12px;
}

.orb-card .inputs {
    border: 1px solid rgba(26, 26, 26, 0.7);
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.orb-card .input {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 14px;
}

.orb-card .input:nth-child(1) {
    border-bottom: 1px solid rgba(26, 26, 26, 0.7);
}

.orb-card .input:nth-child(2) {
    border-right: 1px solid rgba(26, 26, 26, 0.7);

}

.orb-card .input:nth-child(2),
.orb-card .input:nth-child(3) {
    width: 50%;
    display: inline-flex;
}

.pay-btn {
    display: block;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 6px;
    font-weight: bold;
    position: relative;
}

.pay-btn i {
    position: absolute;
    right: 15px;
}

.main-btn.ten-btn {
    position: absolute;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 20px);
    width: 80%;
    height: auto;
    gap: 10px;
    text-align: center;
    cursor: default;
}

.main-btn.ten-btn p {
    text-transform: uppercase;
    color: white;
    font-weight: 200;
}

.main-btn.ten-btn h1 {
    font-size: 3rem;
}

section.faqs {
    background: #FFFFFF;
    padding: 100px 0;
}

.questions {
    width: 50%;
    margin: auto;
}

.question .ask {
    padding: 20px;
    transition: all 0.3s;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 18px;
}

.question .ask i {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.question .ask.extend {
    background: linear-gradient(151.54deg, rgba(97, 146, 219, 0.05) 14.21%, rgba(43, 52, 240, 0.05) 68.04%);
}

.question .ask.extend i {
    rotate: 90deg;
}

.question .answer {
    overflow: hidden;
    height: 0;
    transition: all 0.3s ease-in-out;
    margin: 20px 50px;
}